h1{
    background-color: black;
    color: white;
    text-align: center;
    text-shadow: -1px 1px hotpink;
}
h2{
    text-align: center;
}
h3{
    background-color: black;
    color: white;
    text-shadow: -1px 1px hotpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    font-weight: bold;
}
h4{
    background-color: black;
    color: white;
    text-shadow: -1px 1px hotpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    font-weight: bold;
}
div{
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    font-weight: lighter;
    font-style: italic;
}
#MDT{
    color: rgb(63, 119, 6);
}
#facebook{
    color: rgb(13, 6, 119);
}
#Instagram{
    color: hotpink;
}
#Gallery{
    color: rgb(168, 164, 64);
}
a{
    font-size: 30px;
    font-weight: bold;
}
img{
    width: 50%;
}

#Escape{
    border: 5px inset black;
    width: 25%;
    margin: 10px 20px;
}

#Leukocytes{
    border: 5px inset pink;
    width: 25%;
    margin: 10px 20px;
}
